.sectores-container{
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: auto;
}

.sectores-aside{
  position: relative;
  flex-grow: 1;
  height: 100%;

  >h1{
    position: absolute;
    top: 17rem;
    right: -12rem;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    rotate: 270deg;
    font-size: 4rem;
    cursor: default;
    letter-spacing: 9px;
  }
}

.sectores-main{
  position: relative;
  height: auto;
  background-color: rgba(9, 42, 77, 0.65);
  padding: 2rem 3rem;
  gap: 1.5rem 0px;
  display: flex;
  flex-direction: column;
}

.sector-item{
  position: relative;
  width: 100%;
  display: flex;
  gap: 1rem;

  .sector-header{
    width: 30%;
    display: block;
  }

  .sector-body{
    width: 70%;

    >h1{
      width: 35rem;
    }
  }
}

.sector-footer{
  display: none;
}

@media (width > 768px){
  .extending-animation{
    view-timeline-name: --reveal;
    animation-name: extending;
    animation-fill-mode: both;
  
    animation-timeline: --reveal ;
    animation-range: entry 20% cover 50%;
  }

  .img-responsive{
    display: none;
  }
  
  .extending-aside-animation{
    view-timeline-name: --reveal;
    animation-name: extending-aside;
    animation-fill-mode: both;
  
    animation-timeline: --reveal;
    animation-range: entry 20% cover 50%;
  }
}

@media screen and (max-width: 768px){
  .sector-header{
    display: none !important;
    width: 0% !important;

    >img{
      display: none !important;
    }
  }

  .sectores-aside{
    display: none !important;
  }

  .sector-body{
    width: 100% !important;
    padding: 5rem 1rem !important;
    background-color: rgba(9, 42, 77, 0.65);

    >p{
      width: 100% !important;
    }
    >h1{
      letter-spacing: 1px !important;
      text-align: center !important;
      text-overflow: clip !important;
    }
  }

  .img-responsive{
    display: block;
    margin: 1.5rem auto;
  }

  .sectores-main{
    padding: 0rem;
    background-color: transparent;
  }

  .sector-item{
    flex-wrap: wrap;
    overflow: hidden;
    width: 100% !important;
  }

  .sector-footer{
    display: block !important;
    background-color: transparent !important;
    padding-bottom: 3rem !important;

    >h1{
      letter-spacing: 4px !important;
    }
  }
}

@keyframes extending {
  from{
    width: 60%;
    opacity: 0.5;
  }
  to{
    width: 80%;
    opacity: 1;
  }
}

@keyframes extending-aside {
  from{
    width: 40%;
    opacity: 0.5;
  }
  to{
    width: 20%;
    opacity: 1;
  }
}