.nosotros-container{
  position: relative;
  flex-grow: 1;
  overflow: hidden;  
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  /*padding-bottom: 175px;*/
  padding-bottom: 6.5rem;
}

.nosotros-container .helmet-img-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.nosotros-container .helmet-img-container .helmet-img{
  /*width: 1300px;*/
  width: 150%;
  height: 100%;
  transform: translateX(-140px);
  transition: transform 0.5s ease;
  object-fit: cover;
  
  &:hover{
    transform: translateX(-180px);
  }
}

.nosotros-container .nosotros-body{
  position: relative;
  width: 47vw;
  height: auto;
  background-color: transparent;
  z-index: 10;
  padding-left: 8rem;
  padding-right: 3rem;
}

.ingeniero-card{
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease;

  >img{
    width: 320px;
    transform: translateX(-10px);
  }

  .ingeniero-body{
    position: absolute;
    background-color: rgba(29, 26, 26, 0.55);
    height: 60px;
    bottom: 0;

    >p{
      letter-spacing: 3px;
    }
  }

  >p{
    position: absolute;
    right: -190px;
    top: 40%;
    transform: rotate(270deg);
    color: white;
    height: auto;
    width: auto;
    letter-spacing: 3px;
    transition: all 0.5s ease;
  }
}

.ingeniero-card.animar{
  opacity: 1;
  /*animation: opacity 1s alternate;*/
}

.ingeniero-card:hover p{
  right: -135px;
}

.border-container{
  border-bottom: 40px solid #092A4D;
}

/*
.mostrarDerecha{
  transform: translateX(0px);
  opacity: 1;
}
*/
@media (max-width: 1500px) {

.nosotros-container{
  width: 100% !important;
}

  .helmet-img-container{
    display: none !important;
  }

  .helmet-img{
    display: none !important;
  }

  .nosotros-container .nosotros-body{
    width: 100%;
    height: auto;
    padding-bottom: 120px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .nosotros-container{
    width: 100%;
  }

  .nosotros-container{
    height: auto;
  }
}

@media (max-width: 768px) {
  
  .nosotros-container{
    flex-grow: 0;
    width: 100% !important;
  }

  .ingeniero-body{
    bottom: 0.5rem !important;
  }

  .ingeniero-card{
    width: 100% !important;
    height: auto !important;
    overflow: hidden;
    >p{
      font-size: 0.78rem !important;
      top: 40% !important;
      right: -200px !important;

    }

    &:hover > p {
      right: -95px !important;
    }

    >img{
      width: 110% !important;
    }
  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes showLeft {
  from{
    transform: translateX(-400px);
  }
  to{
    transform: translateX(0px);
  }
}