.body-container {
  flex-grow: 1;
  height: 100dvh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);

  .body-img {
    min-height: 600px;
  }
}

.build-fixed {
  right: 0;
  width: 100%;
  height: 100dvh;
  background-image: url("../../img/Inicio/body.svg");
  background-clip: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#inicio {
  height: 100dvh;
}

.titulo-body-section {
  position: relative;
  width: 100%;
  height: 60dvh;
}

.titulo-body {
  position: absolute;
  top: 100px;
  width: 900px;
  font-size: 5.5rem;
  letter-spacing: 5px;
  padding-left: 8rem;
}


.cuerpo-body-section {
  position: relative;
  width: 100%;
  height: 40dvh;
  background-color: rgba(9, 42, 77, 0.94);

  .ingenieros-img {
    position: absolute;
    width: calc(57% - 50px);
    bottom: 0px;
    right: 0px;

    opacity: 0;
    transition: all 0.7s ease;

    scale: 0;
  }

  .description {
    padding-top: 80px;
    width: 500px;
    text-align: justify;
  }
}

.contender-descripcion{
  padding-left: 8.5rem;
}

.ingenieros-img.mostrarEscala{
  opacity: 1;
  scale: 1;
}

.logoBody-img {
  position: absolute;
  width: 300px;
  bottom: 15px;
  transform: translateY(100%);
  left: 50%;
  opacity: 0;

  transition: all 0.7s ease;
}

.logoBody-img.mostrarAbajo{
  opacity: 1;
  transform: translateY(0%);
}

@media (max-width: 1170px) {
  .description {
    width: 100% !important;
    word-break: break-all !important;
  }
  .logoBody-img {
    transform: translateX(-50%);
  }

  .titulo-body{
    width: 80% !important;
    padding-left: 1rem !important;
  }
}

@media (max-width: 768px) {
  .body-container {
    width: 100%;
    flex-grow: 0;
    height: auto !important;
  }
  .titulo-body {
    width: 100% !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .description {
    padding-top: 150px !important;
    width: 100% !important;
  }

  .logoBody-img {
    width: 70% !important;
    top: 40px !important;
  }

  #inicio {
    height: auto !important;
  }

  .cuerpo-body-section {
    height: auto;
    padding-bottom: 100px;
  }

  .contender-descripcion{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@keyframes showScale {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes showTitulo {
  from {
    opacity: 0;
    top: -500px;
  }

  to {
    opacity: 1;
    top: 100px;
  }
}

@keyframes showLogo {
  from {
    bottom: -600px;
  }
  to {
    bottom: 15px;
  }
}
