@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'ibrand';
  src: url('/ibrand.otf') format('truetype');
}

@font-face {
  font-family: 'Corbel';
  src: url('/CORBEL.TTF') format('truetype');
}

@font-face {
  font-family: 'Corbel-Bold';
  src: url('../public/Corbel Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Coberli';
  src: url('/corbelli.ttf') format('truetype');
}

.corbeli{
  font-family: 'Coberli' !important;
}

.ibrand {
  font-family: 'ibrand' !important;
}

.corbel-bold{
  font-family: 'Corbel-Bold' !important;
}

.corbel{
  font-family: 'Corbel' !important;
}

.cursor-pointer{
  cursor: pointer;
}

.sombraHeader{
  position: relative;
  width: 95px !important;
  background-color: rgba(9, 42, 77, 0.94);
}

.inter{
  font-family: 'Inter', sans-serif;
}

.text-rojo{
  color: #F9202E;
}

.texto-azul{
  color: #092A4D;
}

.text-justify{
  text-align: justify;
}

p{
  margin-bottom: 0;
}

h1{
  letter-spacing: 9px;
}

ul{
  padding-left: 0;
}

@media (max-width: 768px) {

  h1{
    text-align: center !important;
    width: 100% !important;
  }

  h2{
    text-align: center !important;
  }


  .sombraHeader{
    width: 90px !important;
  }
}