@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'ibrand';
  src: url('../public/ibrand.otf') format('truetype');
}

.ibrand {
  font-family: 'ibrand' !important;
}

.cursor-pointer{
  cursor: pointer;
}

.sombraHeader{
  width: 95px !important;
  background-color: rgba(9, 42, 77, 0.94);
}

.inter{
  font-family: 'Inter', sans-serif;
}

.text-rojo{
  color: #F9202E;
}

.texto-azul{
  color: #092A4D;
}

.text-justify{
  text-align: justify;
}

p{
  margin-bottom: 0;
}

h1{
  letter-spacing: 9px;
}

@media (max-width: 768px) {
  .container{
    padding-left: 40px !important;
  }

  h1{
    text-align: center;
    width: 95% !important;
  }
}