.proyectos-container{
  position: relative;
  background-image: url("../../img/Proyectos/proyectosBody.jpg");
  flex-grow: 1;
  width: 100%;
  height: 100dvh;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  overflow: hidden;
}