.proyectos-container{
  position: relative;
  background-image: url("../../img/Proyectos/proyectosBody.jpg");
  flex-grow: 1;
  width: 100%;
  height: 100dvh;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-size: cover;
  background-position: inherit;
  overflow: hidden;

  .titulo-proyecto-container{
    position: relative;
    width: 45%;

    >h1{
      position: absolute;
      width: fit-content;
      height: fit-content;
      right: -12rem;
      font-size: 4rem;
      letter-spacing: 10px;
      bottom: 50%;
      top: 50%;
      rotate: 270deg;
      color: #092A4D;
    }
  }

  .description-proyecto-container{
    position: relative;
    width: 55%;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: rgba(9, 42, 77, 0.79);
    color: white;
    transition: width 0.5s;

    >p{
      position: absolute;
      bottom: 10rem;
      padding-right: 4rem;
    }
  }

  .description-proyecto-container:hover{
    width: 70%;
  }

  .description-proyecto-container:hover ~ .titulo-proyecto-container{
    width: 30%;
  }

}

@media (max-width: 768px) {

  .proyectos-container{
    flex-wrap: wrap-reverse;
    background-position: -9rem 0px;
  }

  .description-proyecto-container{
    width: 100% !important;
    height: 70dvh;
    padding-left: 2rem !important;
    padding-right: 2rem !important;

    >p{
      bottom: 2rem !important;
      padding-right: 2rem !important;
    }
  }

  .titulo-proyecto-container{
    width: 100% !important;
    height: 30dvh;
    >h1{
      text-align: center !important;
      position: relative;
      rotate: 0deg !important;
      top: 0 !important;
      left: auto !important;
      right: auto !important;
      bottom: auto !important;
    }
  }
}